extends layout
//- https://pugjs.org/language/attributes.html
block content
  h1= title

  
  p Welcome to #{title}
  div(class="test" id="test-id") 
   p this is #{test}
    ul(class="list")
      li(class="list-group-item list-group-item-primary") this is 
      li(class="list-group-item list-group-item-secondary") li element 2
      li(class="list-group-item list-group-item-success") li element 3
      li(class="list-group-item list-group-item-success") li element 3
